
<a href='/users/<%= @user.id %>/posts/<%= post.id %>'class='post_cont'>
  <h2 class='post_id'>
    Post <%= post.id %>
  </h2>
  <div class='post_text'>
    Post Text:<%= post.text %>
  </div>

  <div class='comment_like'>
    <div class='comment'>
      Comments: <%= post.comments_counter %>
    </div>
    <div class='like'>
      Likes: <%= post.likes_counter%>
    </div>
  </div>

  
  <%= form_with(model: @like, url: user_post_likes_path(user_id: @user.id, post_id: post.id), method: :post, remote: false, local: true) do |form| %>
    <div class="add-comment-btn">
      <%= form.submit "Like" %>
    </div>
  <% end %>
  


  <a href='/users/<%= @user.id %>/posts/<%= post.id %>'class='post_cont'>ADD POST </a>
  <a href='/users/<%= @user.id %>/posts/<%= post.id %>/comments/new' class='post_cont'>Add Comment</a>
  


  


