
<h1>Hello <%= @user.Name %>' last three posts</h1>
<div class='user_det'>
  <%= render partial: 'partials/user', locals: { user: @user }  %>
  <a href='/users/<%= @user.id %>/posts/new'>Add............</a>
  
  <div>
    <% if @user.Bio %>
    <h2 class='user_bio'>Bio</h2>
      <p><%= @user.Bio %></p>
    <% else %>
      <h2 class='user_bio'>Bio</h2>
      <p>No Bio entered</p>
    <% end %>
  </div>
  <ul class=''>
    <% @user1 = User.find(@user.id) %>
    <% @user.recent_posts.each do |post| %>
         <li>
           <%= render partial: 'partials/post', locals: { post: post } %>
         </li>      
    <% end %>
  </ul>

  <a href='/users/<%= @user.id %>/posts' class="more_posts">See more posts </a>
  
</div>